<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Experts Destinations</title>
  <%- include('./partials/css-global'); %>

</head>

  <%- include('./partials/header.ejs'); %>
  
  <section class="gallery"></section>
    <!-- The gallery will go here. See the last line of JS to see how that happens. -->

  </main>

  <%- include('./partials/js-gallery'); %>
  <%- include('./partials/js-toggle'); %>  

</body>

  <%- include('./partials/foot'); %>

</html>